@import './variables';

@mixin inputWrapper {
  background-color: $white-smoke;
  border-radius: 12px;
  padding: 20px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  line-height: normal;
  color: $light-slate-gray;
  box-sizing: border-box;
  width: 100%;
}

@mixin input {
  background-color: $white-smoke;
  border: none;
  outline: none;
  font-family: 'Google Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: $light-slate-gray;
  width: 80%;
}

@mixin errorIcon {
  svg {
    stroke: $error-red;
  }
}
